{% extends 'base.html' %}
{% block content %}
<h1>{{ Mirendyol_mağazalar | capfirst }} Mağazası</h1>
<div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">TL{{ product.price }}</p>
                <a href="#" class="btn btn-primary">Sepete Ekle</a>
            </div>
        </div>
    </div> 
    {% endfor %}

</div>
{% endblock %}