<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"  />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Mirendyol Shop</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div style="margin-left: 20%;" class="container">
        <a class="navbar-brand" href="#">MİRENDYOL SHOP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Anasayfa <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
    <a class="nav-link" href="/magazalar">Mağazalar</a>
</li>

               <li class="nav-item">
    <a class="nav-link" href="https://www.mirendyol.com.com/Katagoriler">Kategoriler</a>
</li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="ms-4  fa-sharp fa-solid fa-heart"></i> Favoriler
                    </a>
                </li>
<form class=" ms-4 d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
                <div class="ms-4 d-flex dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    GİRİŞ
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Hesabım</a></li>
    <li><a class="dropdown-item" href="#">Sepetim</a></li>
    <li><a class="dropdown-item" href="#">Çıkış Yap</a></li>
  </ul>
</div>
        </div>
    </div>
</nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<footer class="bg-dark text-white mt-5">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4">
                <h5>Hakkımızda</h5>
                <p>MİRENDYOL SHOP, kaliteli ürünleri uygun fiyatlarla sunan bir online mağazadır. Müşteri memnuniyeti bizim için önceliklidir.</p>
            </div>
            <div class="col-md-4">
                <h5>İletişim</h5>
                <ul class="list-unstyled">
                    <li><i class="fa fa-map-marker-alt"></i> Adres: Mantis Cad. No: 123, Ankara</li>
                    <li><i class="fa fa-phone"></i> Telefon: +90 123 456 78 90</li>
                    <li><i class="fa fa-envelope"></i> E-posta: info@mirendyolshop.com</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Bizi Takip Edin</h5>
                <a href="#" class="text-white"><i class="fab fa-facebook fa-2x mr-3"></i></a>
                <a href="#" class="text-white"><i class="fab fa-twitter fa-2x mr-3"></i></a>
                <a href="#" class="text-white"><i class="fab fa-instagram fa-2x mr-3"></i></a>
                <a href="#" class="text-white"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
        </div>
        <div class="text-center mt-3">
            <p>&copy; 2024 MİRENDYOL SHOP. Tüm hakları saklıdır.</p>
        </div>
    </div>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>